# Dependencies
node_modules/

# Playwright reports / artifacts
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# Playwright reports generated under Config
Config/test-results/
Config/playwright-report/

# Allure
allure-results/
allure-report/